<aside id="TleftAside">
	<transition name="activeElementTop" appear>
		<figure class="logo">
			<img src="../images/user.jpg" alt="user_logo" />
			<figcaption>萧萧然</figcaption>
		</figure>
	</transition>
	<transition name="activeElementBottom" appear>
		<section class="router">
			<ul>
				<li>
					<router-link to="homePage">主页</router-link>
				</li>
				<li>
					<router-link to="article">文章</router-link>
				</li>
				<li>
					<router-link to="resume">个人简历</router-link>
				</li>
			</ul>
		</section>
	</transition>
</aside>