<aside id="TleftAside">
	<transition name="activeElementTop" appear>
		<figure class="logo">
			<img src="../images/user.jpg" alt="user_logo" />
			<figcaption>萧萧然</figcaption>
		</figure>
	</transition>
	<transition name="activeElementBottom" appear>
		<section class="router">
			<ul class="clear">
				<li>
					<router-link to="homePage">主页</router-link>
				</li>
				<li>
					<router-link to="article">文章</router-link>
				</li>
				<li>
					<router-link to="resume">个人简历</router-link>
				</li>
			</ul>
		</section>
	</transition>
	<transition name="activeElementBottom" appear>
		<section class="supplement">
			<ul>
				<li>应聘职位：web前端</li>
				<li>姓名：于杰</li>
				<li>年龄：22</li>
				<li>980168151@qq.com</li>
				<li>15523009720</li>
			</ul>
		</section>
	</transition>
</aside>